<div id="main">watch list</div>

{{!-- LOG IN OR SIGN UP MODALS --}}
<button class="trigger">Log In</button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Hello, I am a log-in modal!</h1>
    </div>
</div>

<button class="trigger">Sign Up</button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h1>Hello, I am a sign-up modal!</h1>
    </div>
</div>