body {
    font-family: 'Montserrat', sans-serif;
    background: #0d1215;
    text-align: center;
    color: white;
}

#main{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#logbtn, #signbtn {
    font-size: 20px;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
}

#logbtn, #signbtn :hover {
    font-size: 20px;
    border-radius: 0.5rem;
}

/* COLORS:
#6d905c	(109,144,92)
#427a6b	(66,122,107)
#355258	(53,82,88)
#1f2d3a	(31,45,58)
#0d1215	(13,18,21) */