body {
    font-family: 'Montserrat', sans-serif;
    background-image: radial-gradient(circle, #0d1215, #1f2d3a, #355258);
    /* background: #0d1215; */
    text-align: center;
    color: #fff;
}

p {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}

#main{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 78px;
    padding: 15px;
}

#description {
    padding-bottom: 30px;
}

.my-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#logbtn, #signbtn {
    font-size: 20px;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 7px;
    margin: auto;
}

#logbtn, #signbtn :hover {
    font-size: 20px;
    border-radius: 0.5rem;
}

#email-icon, #password-icon, #user-icon {
    color: #427a6b;
    /* margin-left: 50px; */
}

#email-icon, #user-icon {
    /* flex: 1; */
}

.user-info {
    color: #0d1215;
}

input {
    line-height: 1.5;
    outline: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#log-title, #sign-title {
    color: #0d1215;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    margin: auto;
    padding: 5px;
}

#input-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.input-row {
    margin-top: 2em;
}

.card-holder {
    margin-left: 20px;
    margin-right: 20px;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

#login-email-input, #login-password-input, #signup-password-input, #signup-email-input {
    width: 90%;
    /* flex: 1; */
}

.redirect {
    color: #0d1215;
    text-decoration: none;
}

.form-group {
    margin-left: 30px;
    justify-content: left;
    text-align: left;
}



.modal-btns {
    background-color: #1f2d3a;
    border-radius: 7px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 7px;
    outline: none;
}

.modal-btns:hover {
    background-color:#427a6b;
    color: #fff;
    outline: none;
}

.modal-btns:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}

.funnyname {
    display: flex;
    align-items: center;
}

/* .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.wrapper {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#email-input, #password-input {
    margin-left: 50px;
}

.user-info {
    line-height: 1.5;
    outline: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 7px;
    width: 300px;
}

/* NEW CONTENT SECTION */
#new-media-container {
    border-radius: 7px;
    color: #0d1215;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: auto;
    padding: 20px;
    width: 40%;
}
#form-container {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 3px 3px 5px lightgrey;
    padding: 1%;
    width: 50%;
    max-height: 300px;
}
#mediaSubmitForm {
    border-radius: 7px;
    padding: 5px;
    margin-top: 15px;
}
.media-radio {
    outline: none;
    color: #1f2d3a;
    margin-right: 10px;
}

#genre {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2;
    outline: none;
}

option {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#text-enter-button {
    background-color: #1f2d3a;
    border-radius: 7px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 7px;
    outline: none;
}

#text-enter-button:hover {
    background-color:#427a6b;
    color: #fff;
    outline: none;
}

#text-enter-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}

/* WATCHLIST SECTION */
#container {
    color: #0d1215;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#col-1, #col-2 {
    align-items: stretch;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 3px 3px 5px lightgrey;
    color: #0d1215;
    width: 45%;
    display: flex;
    justify-content: center;
    /* margin: auto; */
}

#unwatched, #watched {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25em;
}

.content-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding: 20px;
}

.content {
    margin: auto;
    padding: 5px;
}

.remove-from-list, .watch-content {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    background-color: #1f2d3a;
    color: #fff;
    border-radius: 7px;
    outline: none;
}

.remove-from-list:hover, .watch-content:hover {
    background-color:#427a6b;
    color: #fff;
    outline: none;
}

.remove-from-list:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}

.watch-content:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
}


/* pre {
    font-family: 'Montserrat', sans-serif;
    color: #0d1215;
} */
/* 
#watched-btn {
    font-family: 'Montserrat', sans-serif;
} */

/* COLORS:
#6d905c	(109,144,92)
#427a6b	(66,122,107)
#355258	(53,82,88)
#1f2d3a	(31,45,58)
#0d1215	(13,18,21) */